*.txt
*.tfstate*
.terraform.*
.terraform/
*.pb
*.json
*.ipynb
variables.*
03-data-warehouse/serving_dir/
03-data-warehouse/tmp/
*.log
.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod]
logs/queries
*.db
*.DB